/*HTML*/
body{
       margin: 0 0;
       position: relative;
       background: #DADADA;
       font-family: "Roboto";
 }






/*BARRA SUPERIOR */

.barra_superior{
  height:4rem;
  width:393px;
  background-color:#C7C7C7;
  top:0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 3;
}

.logo_barra_superior{
  height: 2rem;
  width: auto;
  margin: 4% 40%;
  transform: translateY(-6rem);
  z-index: 10;
}
/*FINAL barra superior */










/*BARRA INFERIOR */
.barra_inferior{
  height:3rem;
  width:100%;
  background-color:#C7C7C7;
  bottom:0;
  left: 0;
  position: fixed;
  z-index: 2;

}

.i_home{
   background-color:#1E3F43; height:2.5rem; width:2.5rem;
}
/*FINAL barra inferior */











/*HOME */

.home{
  z-index: -3;
  padding-bottom:3rem;
}

.xat{
  height: 6rem;
  width:393px;
  border-bottom: 0.01rem solid #0F86A7;
  transform: translateY(-2rem);
}

.nom_xat{
  font-weight: bold;
  margin-left: 7rem;
  margin-top: 2.5rem;

}

.missatge_xat{
  font-weight: lighter;
  margin-left: 7rem;
  margin-top: 0.5rem;
}

.notificacio_xat{
  transform: translateX(20rem) translateY(-4rem);
  height:1.5rem;
  width: 1.5rem;
  border-radius: 1.5rem;
  line-height: 1.5rem;
  background-color: #0F86A7;
  text-align: center;
  color: white;
}

.hora_xat{
  transform: translateX(19rem) translateY(-4.5rem);
}
img{
  height: 4rem;
  width: auto;
}
.imatges_grans_xat{
  height: 4rem;
  width: 4rem;
  background-repeat: no-repeat;
  border-radius: 4rem;
  margin-left:1.5rem;
  margin-right: 2rem;
  margin-top: 1rem;
  transform: translateY(6rem);
}

.imatge_petita{
  height: 2.4rem;
  width: 2.4rem;
  margin-left: -4rem;
  border-radius: 4rem;
  transform: translateY(6rem);
}

#xat_destacat{
  background-color: #95C8D8;
  position: fixed;
  height: 12rem;
  z-index: 1;
  margin-top: -1rem;
  border-bottom: solid transparent;
}

#xat2{
  padding-top: 5rem;
}
/*FINAL home */









/*XAT */
/*MISSATGES */
.missatge_dret{
  height: auto;
  width: 70%;
  background-color: white;
  margin-left: 2rem;
  font-size: 1rem;
  padding:0.5rem;
  padding-right: 1rem;
  border-radius: 1.1rem ;
  font-weight: lighter;
  z-index: -9;
  margin-bottom: 1rem;
  padding-bottom: 0;

}

.hora_dreta{
  float:right;
  margin-top: -1rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  color:grey;
}


.missatge_text{
  padding-left: 1rem;
}


.missatge_dret::after{
content:"";
 display:block;
 height:1.2rem;
 width:1.8rem;
 background-color:white;
 position:relative;
 left:-1rem;
 bottom: 1rem;
 transform:rotate(45deg);
 z-index: -10;

}


.missatge_esquerra{
  height: auto;
  width: 70%;
  background-color: #0F86A7;
  margin-left: 15%;
  margin-right: 10%;
  font-size: 1rem;
  padding:0.5rem;
  padding-left: 1rem;
  border-radius: 1.1rem ;
  font-weight: lighter;
  z-index: -9;
  margin-bottom: 1rem;
  right: 1rem;
  padding-bottom: 0;
}

.missatge_esquerra::after{
 content:"";
 display:block;
 height:1.2rem;
 width:1.8rem;
 background-color:#0F86A7;
 position:relative;
 left:-1rem;
 bottom: 1rem;
 transform:rotate(-45deg);
 margin-left: 100%;
 z-index: -10;

}

.hora_esquerra{
  float:right;
  margin-top: -1rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  color:#C7C7C7;
}

#m1{
  margin-top: 7rem;
}

#m2{
  margin-bottom: 8rem;
}




/*FINAL missatges */
/*FINAL xat */












/*MENÚ HAMBURGUESA */
input[type=text] {

  background-color: transparent;
  transform: translateY(3.2rem) translateX(1rem);
  height: 1.5rem;
  width:12.6rem;
  border-radius: 2rem;
  border:0px;
}

#buscador_menu{
  height: 2rem;
  width: 15rem;
  background-color: #1E3F43;
  border-radius: 3rem;
  transform: translateY(5rem) translateX(-1rem);
}

#buscador_menu::before{
  content:"";
  display:block;
  height:1.5rem;
  width:12.6rem;
  background-color:#DADADA;
  position:relative;
  border-radius: 2rem;
  transform: translateX(2rem) translateY(0.25rem);
}

.menu{
  width:2.5rem;
  height:2.5rem;
  position:relative;
  top:0.75rem;
  left:0.25rem;
}

.menu label {
  width:2rem;
  height:2rem;
  position:absolute;
  left:-3rem;
  top:-1rem;
  cursor:pointer;
  z-index:5;
}

#menu_icono{
  width:1rem;
  height:1rem;
  position:absolute;
  left:0.15rem;
  top:0.75rem;
  z-index:3;
}

li{
  list-style:none;
  display:inline-block;
  width:13rem;
  height:2.5rem;
  margin-bottom:0.1rem;
  font-family:Roboto;
  line-height:2rem;
  text-align:left;
  position:relative;
  top:5rem;
  border-bottom: 0.1rem solid #DADADA;
  line-height: 2.5rem;
  font-size: 0.9rem;
}

li:hover {
  filter: brightness(140%);
}

ul{
  position:relative;
  left:-18rem;
  top:-3rem;
  transition:0.5s;
  height: 60rem;
  width:15rem;
  background-color:#0F86A7;

}

.menu input[type=checkbox]:checked+label~ul{
  left:-0.5rem;
}

.menu_hamburgesa{
  position:fixed;
  top:0;
  left:0;
  height: 100%;
  width:393px;
  z-index: 6;
}

input[type=checkbox] {
  visibility:hidden;
}

a{
  text-decoration: none;
  color:#DADADA;
}

i{
  float: left;
  font-family: "Roboto";
}
/*FINAL menú hamburguesa */
